body::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2); /* Light circular shape */
    border-radius: 50%;
    z-index: -1; /* Places it behind the content */
}

body::after {
    content: "";
    position: absolute;
    bottom: 10%;
    right: 25%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2); /* Light circular shape */
    border-radius: 50%;
    z-index: -1; /* Places it behind the content */
}

body .circleontop {
    content: "";
    position: absolute;
    top: 10%;
    right: 17%;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.2); /* Light circular shape */
    border-radius: 50%;
    z-index: -1; /* Places it behind the content */
}

body {
    background: linear-gradient(to right, #013220, #2a4d33); /* Dark green gradient */
    color: white; /* Λευκό κείμενο για αντίθεση */
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between; /* Τίτλος αριστερά, links δεξιά */
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #000f07, #001c0e); /* Dark green gradient with a hint of black */
}

/* Στυλ για τον τίτλο */
.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* Στυλ για το navigation menu */
nav {
    display: flex;
    gap: 30px;
}

/* Στυλ για τα links */
nav a {
    text-decoration: none;
    color: white; !important; /* Για να φαίνονται στο μαύρο background */
    font-size: 25px;
}
nav a:visited {
    color: white !important;
}

nav a:hover {
    color: rgba(4, 4, 4, 0.96);
}

/* Κεντρικό περιεχόμενο */
main {
    text-align: center;
    margin-top: 300px;
    color: white; /* Για να φαίνεται πάνω στο σκούρο background */
    font-size: 30px;
}

/* Shop Now button */
.shop-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black; /* Σκούρο γκρι κουμπί */
    color: white;
    text-decoration: none;
    font-weight: normal;
    border-radius: 10px;
    border: 1px solid black; /* Λεπτό περίγραμμα για αντίθεση */
}

